<!-- <div class="container fluid"> -->
<div class="containercustom">
  <div class="centralizartexto">
    <h3>Veiculos Estacionados</h3>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Placa</th>
        <th scope="col">Entrada</th>

        <th></th>
        <th></th>
        <th></th>

        <th>
          <div style="display: flex; align-items: center">
            <input
              #placaInput
              type="text"
              class="form-control"
              style="flex: 1"
              placeholder="Insira a placa"
              mask="SSS-0A00"
            />
            <button class="btn btn-success" (click)="this.confirmarEntrada()">
              Entrada
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listaestacionados">
        <td>{{ c.placa }}</td>
        <td>{{ c.horaEntrada | dateTimeFormat }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td >
          <a class="btn btn-info"  (click)="this.confirmarSaida(c)">Saida</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-lista-veiculos-finalizados
  [recarregarItensTabela]="this.recarregarItensTabela"
></app-lista-veiculos-finalizados>
