<!-- <div class="container fluid"> -->
<div class="containercustom">
  <div class="centralizartexto">
    <h2>Listagem de pessoas</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Cpf</th>
        <th scope="col">Rg</th>
        <th scope="col">Email</th>

        <th>
          <div>
            <a [routerLink]="['/pessoa/cadastro']" class="btn btn-success"
              >Adicionar</a
            >
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listaPessoas">
        
        <td>{{ c.nome }}</td>
        <td>{{ c.dataNascimento | dateFormat }}</td>
        <td>{{ c.cpf | cpf }}</td>
        <td>{{ c.rg }}</td>
        <td>{{ c.email }}</td>

        <td>
          <a
            id="editar"
            class="btn btn-warning"
            [routerLink]="['/pessoa/cadastro/', c.id]"
            >Editar</a
          >
          <a
            id="excluir"
            class="btn btn-danger"
            (click)="this.confirmarExcluir(c.id)"
            >Excluir</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
