<div class="containercustom">
  <h2 class="centralizartexto">Cadastro</h2>
  <form
    [formGroup]="this.formulario"
    (ngSubmit)="this.submeterForm()"
    novalidate
    [ngClass]="{ submited: this.formSubmetido }"
  >
    <div class="row">
      <h5>Dados Pessoais</h5>
      <hr class="form-group col-sm-12 col-md-12" />

      <!-- nome>> -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Nome</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o nome"
          formControlName="nome"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('nome')?.errors"
        ></app-validator>
      </div>
      <!-- <<nome -->

      <!-- cpf>> -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Cpf</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o cpf"
          formControlName="cpf"
          mask="000.000.000-00"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('cpf')?.errors"
        ></app-validator>
      </div>
      <!-- <<cpf -->

      <!-- RG>> -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label">Rg</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o rg"
          formControlName="rg"
          mask="00.000.000-0"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('rg')?.errors"
        ></app-validator>
      </div>
      <!-- <<RG -->

      <!-- telefone>> -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Telefone </label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o telefone"
          formControlName="telefone"
          mask="(00) 0000-00000"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('telefone')?.errors"
        ></app-validator>
      </div>
      <!-- <<telefone -->

      <!-- datanascimento>> -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio"
          >Data Nascimento</label
        >
        <input
          type="date"
          class="form-control"
          placeholder="Digite a data de Nascimento"
          formControlName="datanascimento"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('datanascimento')?.errors"
        ></app-validator>
      </div>
      <!-- <<datanacimento -->

      <!-- email>> -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">E-mail</label>
        <input
          type="email"
          class="form-control"
          placeholder="Digite o e-mail"
          formControlName="email"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('email')?.errors"
        ></app-validator>
      </div>
      <!-- <<email -->

      <h5>Endereço</h5>
      <hr class="form-group col-sm-12 col-md-12" />

      <!-- >>cep -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label">Cep</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o cep"
          formControlName="cep"
          (ngModelChange)="this.aoAlterarCep()"
          mask="00000-000"
        />
        <!-- <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('cep')?.errors"
        ></app-validator> -->
      </div>
      <!-- <<cep -->

      <!-- >>rua -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Rua</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite a rua"
          formControlName="rua"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('rua')?.errors"
        ></app-validator>
      </div>
      <!-- <<rua -->

      <!-- >>numero -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label">Número</label>
        <input
          type="text"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
          class="form-control"
          placeholder="Digite número"
          formControlName="numero"
        />
        <!-- <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('numero')?.errors"
        ></app-validator> -->
      </div>
      <!-- <<numero -->

      <!-- >>bairro -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Bairro</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o bairro"
          formControlName="bairro"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('bairro')?.errors"
        ></app-validator>
      </div>
      <!-- <<bairro -->

      <!-- >>cidade -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Cidade</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite a cidade"
          formControlName="cidade"
        />
        <app-validator
          [formSubmitted]="this.formSubmetido"
          [errors]="this.formulario?.get('cidade')?.errors"
        ></app-validator>
      </div>
      <!-- <<cidade -->

      <!-- >>estado -->
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Estado</label>
        <select
          formControlName="estado"
          class="form-select"
          aria-label="Default select example"
          formControlName="estado"
        >
          <option selected>Escolha um estado</option>

          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>

      <!-- <<estado -->

      <!-- botoes>> -->
      <div class="form-group col-sm-12 action-buttons">
        <a
          class="btn btn-secondary float-left"
          [routerLink]="['/pessoa/listagem']"
          queryParamsHandling="preserve"
          >Voltar</a
        >
        <button type="submit" class="btn btn-primary float-right">
          Salvar
        </button>
        <!-- <<botoes -->
      </div>
    </div>
  </form>
</div>
