<div class="containercustom">
  <div class="centralizartexto">
    <h2>Listagem de pessoas</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Nome</th>

        <th scope="col">Telefone</th>
        <th scope="col">Rua</th>
        <th scope="col">Número</th>
        <th scope="col">Cep</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>

        <th>
          <div>
            <!-- <a [routerLink]="['/pessoa/cadastro']" class="btn btn-success"
              >Adicionar</a
            > -->
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listaPessoas">

        <td>{{ c.nome }}</td>

        <td>{{ c.telefone | telefone }}</td>
        <td>{{ c.rua }}</td>
        <td>{{ c.numero }}</td>
        <td>{{ c.cep }}</td>
        <td>{{ c.bairro }}</td>
        <td>{{ c.cidade }}</td>
        <td>{{ c.estado }}</td>

        <td>
          <!-- <a
            id="editar"
            class="btn btn-warning"
            [routerLink]="['/pessoa/cadastro/', c.id]"
            >Editar</a
          >
          <a
            id="excluir"
            class="btn btn-danger"
            (click)="this.confirmarExcluir(c.id)"
            >Excluir</a
          > -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
